
<div class="container productsList">
  <div class="row">
    <div class="container productsList_title">
      <h2>PPT模板</h2>

      <div class="more">
        <a href="#">更多</a> >
      </div>
    </div>
    <br>
      <% if  @products.present? %>
        <% @products.order('created_at DESC').each do |product| %>
          <% if  true == product.categories.eql?("PPT模板")%>
            <div class="col-xs-6 col-md-3" >
              <%= link_to product_path(product) do %>
                <% if product.image.present? %>
                  <div class="thumbnail">
                    <%= image_tag(product.image.thumb.url)%>
                      <br>
                      <p><strong><%= product.title %></strong></p>
                      <p>¥ <%= product.price %></p>
                  </div>
                <% else %>
                  <div class="thumbnail">
                    <%= image_tag("http://placehold.it/200x200&text=No pic")%>
                      <br>
                      <p><strong><%= product.title %></strong></p>
                      <p>¥ <%= product.price %></p>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
  </div>
</div>

<div class="container productsList">
  <div class="row">
    <div class="container productsList_title">
      <h2>课程</h2>

      <div class="more">
        <a href="#">更多</a> >
      </div>
    </div>
    <br>
      <% if  @products.present? %>
        <% @products.order('created_at DESC').each do |product| %>
          <% if  true == product.categories.eql?("课程")%>
            <div class="col-xs-6 col-md-3" >
              <%= link_to product_path(product) do %>
                <% if product.image.present? %>
                  <div class="thumbnail">
                    <%= image_tag(product.image.thumb.url)%>
                      <br>
                      <p><strong><%= product.title %></strong></p>
                      <p>¥ <%= product.price %></p>
                  </div>
                <% else %>
                  <div class="thumbnail">
                    <%= image_tag("http://placehold.it/200x200&text=No pic")%>
                      <br>
                      <p><strong><%= product.title %></strong></p>
                      <p>¥ <%= product.price %></p>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
  </div>
</div>
